dashboard/homer/
dashboard/heimdall/
traefik-stack/.letsencrypt/
observability/output/
signoz/docker/clickhouse-setup/data/
**/__pycache__/
signoz/docker-swarm/clickhouse-setup/**/
apps/**/
otel/output/
traefik/.letsencrypt/
traefik/apps/heimdall/